<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Registrierung</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Registrierung</h1>

  <% if (typeof error !== 'undefined') { %>
    <div class="error"><%= error %></div>
  <% } %>

  <!-- Registrierungsformular -->
  <form action="/register" method="POST">
    <label for="username">Benutzername:</label>
    <input type="text" id="username" name="username" required>
    <br>

    <label for="password">Passwort:</label>
    <input type="password" id="password" name="password" required>
    <br>
    

    <label for="confirmPassword">Passwort bestätigen:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required>
    <br>
    <label for="lBild">Bildverlinkung</label>
    <input type="text" id="lBild" name="linkPicture" required>
    <br>
    
    <!-- Neues Feld für Geschlecht -->
    <label for="gender">Geschlecht:</label>
    <select id="gender" name="gender" required>
      <option value="">Bitte wählen</option>
      <option value="male">Männlich</option>
      <option value="female">Weiblich</option>
    </select>
    <br>
    
    <!-- Neues Feld für Geburtsdatum -->
    <label for="birthday">Geburtsdatum:</label>
    <input type="date" id="birthday" name="birthday" required>
    <br>

    <button type="submit">Registrieren</button>
  </form>

  <p>Hast du bereits einen Account? <a href="/login">Jetzt einloggen</a></p>
</body>
</html>
